{% extends 'base.html'%} 
{% block title %} Profile{% endblock %} 
{% block content %}
<h1>{{User.username}} </h1>
<p> Username: {{User.username}}</p>
<p>    Name: {{User.first_name}} {{User.last_name}}</p>
 <p>   Email: {{User.email}}</p>
<p>   Birthday: {{User.birthDate}}</p>
<h2> Creator Dashboard</h2>
<div class="container">
    {% for video in videos %}
    <h3 class="text-center mt-2 mb-2"><a href = "{% url 'video' video.id%}"> {{video.video_title}}</a></h3>
    <video class="video-fluid">
        <source src="{{video.video.url}}" type="video/mp4" />
    </video>
</div>
    {% endfor %}
{% endblock %}